<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link href="logo_Browser.png" type="image/png">
        <base href="http://localhost/Clube_Livro1/" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Cadastro de Usuário</title>
    </head>

    <body>
        
        <div>
            <div id="menu-placeholder"></div>
            <div class="elementos-login">
                <img src="imagens/logo_fundo.png" alt="Logo">
                <a>Crie a sua conta!</a>

                <form action="php/cadastroUsuario.php" method="POST">
                    <div class="elementos-icones">
                        <i class="fa-solid fa-user"></i>
                        <input class="inputs" type="text" name="nome" placeholder="Nome">
                    </div>
        
                    <div class="elementos-icones">
                        <i class="fa-solid fa-user"></i>
                        <input class="inputs" type="text" name="sobrenome" placeholder="Sobrenome">
                    </div>
        
                    <div class="elementos-icones">
                        <i class="fa-solid fa-calendar"></i>
                        <input class="inputs" type="date" name="data_nascimento" placeholder="Data de Nascimento">
                    </div>
        
                    <div class="elementos-icones">
                        <i class="fa-solid fa-lock"></i>

                        <div class="input-container">
                            <input id="passinput" class="inputs" type="password" name="senha" placeholder="Senha">
                            <i id="viewpass" class="fa-solid fa-eye eye-icon"></i>
                        </div>
                    </div>
        
                    <div class="elementos-icones">
                        <i class="fa-solid fa-lock"></i>
                        <div class="input-container">
                            <input id="confirmpass" class="inputs" type="password" name="confirma_senha" placeholder="Confirme Sua Senha">
                            <i id="viewconfirmpass" class="fa-solid fa-eye eye-icon"></i>
                        </div>
                    </div>

                    <a href="../index.html">
                        <button>
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span>cadastrar</span>
                        </button>
                    </a>
                    <br>
                    <a href="../index.html">
                        <button class="bnt-cancelar">
                            <i class="fa-solid fa-ban"></i>
                            <span>cancelar</span>
                        </button>
                    </a>
                </form>    
            </div>
        </div>
        <script src="js/menuLoader.js"></script>
        <script src="js/cadastroUsuario.js"></script>
        
    </body>
</html>
