<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Livros Cadastrados</title>
        <link rel="stylesheet" href="styles.css">
        <base href="http://localhost/Clube_Livro1/" />
    </head>
    <body>
        <div id="menu-placeholder"></div>
        <div class="elementos-login">
            <h2 class="escrita-login">Em breve</h2>
            <div id="_id"></div>
            <button onclick="location.href='cadastro_.html'">Cadastrar XXX </button>
        </div>

        <script src="js/exibirLivros.js"></script>
        <script src="js/menuLoader.js"></script>
    </body>
</html>