
<header class="topo-site">
  <img src="/imagens/logo1.png" alt="Logo Charmantric" class="logo-site">
  <h1 class="titulo-site">Charmes et Intrigues</h1>
  <nav class="menu-site">
    <a href="/home.html">Home</a>
    <a href="/components/exibirLivros.html">Livros</a>
    <a href="/components/exibirFilmes.html">Filmes</a>
    <a href="/components/exibirSeries.html">Séries</a>
    <a href="/components/cadastroLivro.html">Cadastrar Novo Livro</a>
    <a href="/static/ollama.html">Fale com a IA</a>
  </nav>
</header>

 